@page "/"

<PageTitle>Grupo 4</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>INTEGRANTES</h1>
            <ul>
                <li>Humberto Alexander Telon Juarez</li>
                <li>Kevin Alejandro Fajardo De Paz</li>
                <li>Kevin Obryan Salazar García</li>
                <li>Ludwing Danilo Morales De Paz</li>
                <li>Walfred Rolando Castañeda Rodriguez</li>
            </ul>
        </div>
        <div class="col">
            <img src="/images/grupo4.jpg" alt="Grupo 4" style="max-width: 100%;" />
        </div>
    </div>
</div>


<style>
    .container {
        margin-top: 50px;
    }

    .col {
        flex: 1;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }
</style>
